// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#heading {
	border-bottom:2px solid black
}

table.table td {
	vertical-align:middle
}

#comments {
	text-align:right
}